<div class="modal" tabindex="-1" role="dialog" [id]="idModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vas a robar cartas.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Cantidad de cartas a robar.</label>
                    <input type="number" [(ngModel)]="cardCount" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese la cantidad de cartas a repartir">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sednData()">Robar</button>
            </div>
        </div>
    </div>
</div>