<div class="center">

    <div *ngIf="auth.getUser() | async as user; else showLogin">
        <h1>Hola {{ user.name }}!</h1>
    </div>
    <ng-template #showLogin>
        <h1>Naipe Virtual.</h1>
        <p>Que nunca falte un mazo de cartas para compartir con amigos.</p>
        <p>Iniciá sesión acá para poder jugar una partida de naipes. </p>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="login()">Iniciar sesion <i class="fa fa-google-plus-square" aria-hidden="true"></i></button>
    </ng-template>
</div>