<div class="modal" tabindex="-1" role="dialog" [id]="idModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vas a repartir las cartas.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Cantidad de cartas a repartir a cada participante.</label>
                    <input type="number" [(ngModel)]="cardCount" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese la cantidad de cartas a repartir">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="chkPutSample">
                    <label class="form-check-label" for="exampleCheck1">Quiero poner muestra</label>
                    <input [(ngModel)]="cardCountTable" [hidden]="!chkPutSample" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese la cantidad de cartas a poenr en la mesa">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sednData()">Repartir</button>
            </div>
        </div>
    </div>
</div>